.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 0 24px;
  background-color: var(--bg-01-light-variable);
  border-bottom: 1px solid var(--stroke-02-light-variable);
}
