body,
body .dark {
  color: var(--text-01-light-variable);
}

.txt-primary {
  color: var(--text-01-light-variable);
}

.txt-secondary {
  color: var(--text-03-light-variable);
}

.txt-tertiary {
  color: var(--text-04-light-variable);
}
