registry=https://web-registry.k8s.public.ru/repository/npm_proxy_registry.npmjs.org/
sass_binary_site=https://web-registry.k8s.public.ru/repository/npm_proxy_registry.npmjs.org
@frontend:registry=https://web-registry.k8s.public.ru/repository/npm-dev-front/
