.dropdown-actions {
  position: relative;

  &-button {
  }

  &-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    z-index: 100;
    padding: 6px 12px;
    border-radius: 4px;
  }

  &-item {
    padding: 6px 0;
    width: 100%;
    text-align: right;
    cursor: pointer;
  }
}
