.main {
  min-height: 100vh;
  width: 100%;
  padding: 12px;
  background-color: var(--bg-02-light-variable);

  &-content {
    max-width: 1440px;
  }
}

.status-container {
  width: 100%;
  height: auto;
  border: 1px solid var(--stroke-02-light-variable);
  border-radius: 4px;
  background-color: var(--bg-01-light-variable);
}

.table-column {
  &-one {
    width: 100px;
    flex: none;
  }

  &-two, &-three, &-four, &-five {
    width: 50%;
  }
}
